<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>关于系统</title>
    <link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}" />
    <script
      th:src="@{/static/js/jquery-3.4.1.min.js}"
      type="text/javascript"
    ></script>
    <script th:src="@{/layui/layui/layui.js}"></script>

  </head>
  <body>
    <div class="layui-main" style="width: 50%; margin-top: 50px">
      <h3>
        <img
          src="https://hellohao.oss-cn-beijing.aliyuncs.com/Hellohao/c1f380714064000.png"
          style="
            border-radius: 5px;
            max-width: 80%;
            -moz-box-shadow: 2px 2px 10px #909090;
            -webkit-box-shadow: 2px 2px 10px #909090;
            box-shadow: 2px 2px 10px #909090;
          "
        />
      </h3>
      <br />
      <h3>
        <i class="layui-icon layui-icon-friends">&nbsp;</i>开发者：Hellohao
      </h3>
      <hr />
      <h3>
        <i class="layui-icon layui-icon-find-fill">&nbsp;</i>技术博客：<a
          href="http://www.hellohao.cn"
          target="_blank"
          >http://www.hellohao.cn</a
        >
      </h3>
      <hr />
      <h3>
        <i class="layui-icon layui-icon-star">&nbsp;</i>Guthub开源：<a
          href="https://github.com/Hello-hao/Tbed"
          target="_blank"
          >https://github.com/Hello-hao/Tbed</a
        >
      </h3>
      <hr />
      <h3>
        <i class="layui-icon layui-icon-login-qq">&nbsp;</i
        >开发者交流群：864800972
      </h3>
      <hr />
      <!--    th:text="${systemupdate}"-->
      <h3>
        <i class="layui-icon layui-icon-auz">&nbsp;</i
        ><span id="dates">2020-09-18</span> &nbsp;&nbsp;&nbsp;<a
          onclick="sysupdate();"
          class="layui-btn layui-btn-normal layui-btn-sm"
          >检查更新</a
        >
      </h3>
      <hr />
      <h3 style="font-weight: bold">
        <i class="layui-icon layui-icon-rmb">&nbsp;</i>捐赠开发者：<a
          onclick="jz()"
          style="cursor: pointer"
          >展开</a
        >
      </h3>
      <br />
      <h3>
        <img
          id="jzm"
          th:src="@{/img/ds.jpg}"
          style="
            display: none;
            border-radius: 5px;
            max-width: 60%;
            -moz-box-shadow: 2px 2px 10px #909090;
            -webkit-box-shadow: 2px 2px 10px #909090;
            box-shadow: 2px 2px 10px #909090;
          "
        />
      </h3>
    </div>
    <script>
      var level = [[${level!=null?level:0}]];
      layui.use(['form', 'layedit', 'laydate'], function () {
          var form = layui.form;

          $(function () {

          })
      });

      function sysupdate(v) {
          var dates = $("#dates").html();
          console.log(dates, "日期")
          fetch('/admin/root/sysupdate', {
              method: 'post',
              body: JSON.stringify({dates: dates})
          }).then((res) => res.json()).then((data) => {
              if (data < 0) {
                  layer.confirm('有新版本，是否更新？', {
                      btn: ['去更新', '不必了'] //按钮
                  }, function () {
                      window.open("https://github.com/Hello-hao/Tbed/releases");
                  }, function () {
                      layer.msg('已取消更新');
                  });
              } else {
                  layer.msg("已是最新版本，无需更新。", {icon: 1});
              }
          })

      }

      function jz() {
          var display = $('#jzm').css('display');
          if (display == 'none') {
              $('#jzm').show();
          } else {
              $('#jzm').hide();
          }
          $('body,html').animate({
              scrollTop: $("#jzm").offset().top
          }, 800);
      }
    </script>
  </body>
</html>
