<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache" content="no-cache" />
    <title>图床后台管理</title>
    <link
      rel="shortcut icon"
      href="https://hellohao.nos-eastchina1.126.net/BlogImg/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/layui/css/admin.css}" />
    <style>
      body {
        font-family: K2D, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol";
      }

      /*.layui-logo{*/
      /*    font-family: 'Old English Text MT', 'EngraversOldEnglishBT-Bold', 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;*/
      /*}*/
      #titles {
        font-size: 1.2em;
      }
    </style>
  </head>

  <body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- logo 区域 -->
        <div class="layui-logo">
          <!--                <img src="images/security.png" alt="logo"/>-->
          <!--            <cite>&nbsp;图床后台管理&emsp;</cite>-->
          <span id="titles"
            >&nbsp;&nbsp;<i
              style="font-size: 1.5em"
              class="layui-icon layui-icon-engine"
              >&nbsp;&nbsp;</i
            >Console</span
          >
        </div>
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item" lay-unselect>
            <a lay-event="flexible" title="侧边伸缩">
              <i
                class="layui-icon layui-icon-shrink-right"
                onclick="cebian()"
              ></i>
            </a>
          </li>
          <!-- 面包屑 -->
          <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
          </span>
        </ul>
        <!-- 头像区域 -->
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a lay-event="GoMain" title="返回首页"
              ><img
                th:src="@{/layui/images/main.png}"
                alt=""
                style="height: 18px"
            /></a>
          </li>
          <li class="layui-nav-item">
            <a lay-event="clear" title="清理标签缓存"
              ><img
                th:src="@{/layui/images/clear.png}"
                alt=""
                style="height: 18px"
            /></a>
          </li>
          <li class="layui-nav-item">
            <a>
              <img
                style="border-radius: 20%; height: 25px; width: 25px"
                th:src="@{/layui/images/avatar.png}"
                class="layui-nav-img"
                alt="头像"
              />
              <span id="istime"></span>
              <cite th:text="'你好！'+${username}"></cite>
              <span class="layui-nav-more"></span>
            </a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
              <dd lay-unselect>
                <a href="javascript:void(0);" onclick="exit()">退出</a>
              </dd>
            </dl>
          </li>
        </ul>
      </div>

      <!-- 左侧导航区域 -->
      <div class="layui-side">
        <div class="layui-side-scroll" style="position: relative">
          <ul
            class="layui-nav layui-nav-tree"
            lay-filter="test"
            lay-accordion="true"
          >
            <li class="layui-nav-item">
              <a lay-url="/table.html" lay-id="home" style="font-weight: 500">
                <i class="layui-icon layui-icon-home"></i>&emsp;<cite
                  >系统概况</cite
                >
              </a>
            </li>

            <li class="layui-nav-item xiaoguo">
              <a style="font-weight: 500">
                <i class="layui-icon layui-icon-username"></i>&emsp;<cite
                  >个人中心</cite
                >
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="01" lay-url="/admin/admin">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>图片列表</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="12" lay-url="/admin/albumlist">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>我的画廊</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="3" lay-url="/admin/tosetuser">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>修改密码</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child" th:if=" ${api} gt '0'">
                <dd>
                  <a href="#" lay-id="7" lay-url="/admin/toapi">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>API接口</cite>
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item xiaoguo" th:if=" ${levels} gt '1'">
              <a style="font-weight: 500">
                <i class="layui-icon layui-icon-user"></i>&emsp;<cite
                  >用户管理</cite
                >
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="1" lay-url="/admin/root/touser">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>用户列表</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="9" lay-url="/admin/root/group">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>分发群组</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="8" lay-url="/admin/root/tocode">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>扩 容 码</cite>
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item xiaoguo" th:if=" ${levels} gt '1'">
              <a style="font-weight: 500">
                <i class="layui-icon layui-icon-set-sm"></i>&emsp;<cite
                  >系统设置</cite
                >
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="2" lay-url="/admin/root/tostorage">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>存储配置</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="11" lay-url="/admin/root/ImageReview">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>图片鉴黄</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="4" lay-url="/admin/root/emailconfig">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>邮箱配置</cite>
                  </a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="5" lay-url="/admin/root/towebconfig">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>站点配置</cite>
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item xiaoguo" th:if=" ${levels} gt '1'">
              <a style="font-weight: 500">
                <i class="layui-icon layui-icon-about"></i>&emsp;<cite
                  >更&nbsp;多</cite
                >
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="#" lay-id="6" lay-url="/admin/root/about">
                    <i class="layui-icon layui-icon-right"></i
                    ><cite>关于系统</cite>
                  </a>
                </dd>
              </dl>
            </li>
          </ul>

          <div
            id="leftstate"
            style="
              color: #f2f2f2;
              font-size: 10px;
              height: 10px;
              position: absolute;
              bottom: 55px;
              width: 70%;
              margin-left: 7%;
            "
          >
            <div
              class="layui-progress layui-progress-big"
              lay-filter="datasize"
              style="
                height: 12px;
                position: absolute;
                bottom: 20px;
                width: 100%;
                margin-left: 3%;
              "
            >
              <div
                class="layui-progress-bar layui-bg-blue"
                lay-percent="100%"
                style="height: 12px; width: 160px"
              ></div>
            </div>
            <h3 style="text-align: center" id="ncqk">当前空间：1024M/1024M</h3>
            <h3 style="text-align: center">
              <a
                style="color: #1e9fff; font-weight: bold; cursor: pointer"
                onclick="kuorong()"
                title="获取更大空间"
                >扩&nbsp;容</a
              >
            </h3>
          </div>
        </div>
      </div>

      <div class="layui-body">
        <div class="layui-pagetabs">
          <div
            class="layui-icon admin-tabs-control layui-icon-refresh-3"
            lay-event="refresh"
          ></div>
          <div
            class="layui-tab"
            lay-unauto
            lay-allowclose="true"
            lay-filter="lay-tab"
          >
            <ul class="layui-tab-title">
              <li lay-id="home" lay-url="/survey.html" class="layui-this">
                <i class="layui-icon layui-icon-home"></i>
              </li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">
                <iframe src="/admin/tosurvey" class="layui-iframe"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <ul class="rightmenu">
          <li data-type="closethis">关闭此页</li>
          <li data-type="closeall">关闭所有</li>
          <li data-type="closeothers">关闭其他</li>
          <li data-type="closeleft">关闭左侧</li>
          <li data-type="closeright">关闭右侧</li>
        </ul>
      </div>

      <div class="layui-footer">
        <!-- 底部固定区域 -->
        copyright © 2019
        <a href="http://www.hellohao.cn/" target="_blank">Hellohao</a>
        切勿上传违反中华人民共和国互联网法律条约资源.
      </div>
      <div class="site-mobile-shade"></div>
    </div>
    <script
      th:src="@{/static/js/jquery-3.4.1.min.js}"
      type="text/javascript"
    ></script>
    <script th:src="@{/layui/layui/layui.js}"></script>
    <script th:src="@{/layui/js/jquery.js}"></script>
    <script th:src="@{/layui/js/zadmin.js}"></script>
    <script th:src="@{/js/js.cookie.min.js}"></script>
    <!--<script th:src="@{/js/hellohao.js}"></script>-->
    <script>
      var usermemory = Number([[${usermemory}]]);
      var memory = Number([[${memory}]]);
      var ret = (usermemory / memory) * 100;
      layui.use(['form', 'layedit', 'laydate', 'element'], function () {
          var form = layui.form
              , layer = layui.layer
          var element = layui.element;
          if (memory == -1) {
              element.progress('datasize', '100%');
              $('#ncqk').text('当前空间：' + usermemory + 'M/无限制');
          } else {
              element.progress('datasize', ret + '0%');
              $('#ncqk').text('当前空间：' + usermemory + 'M/' + memory + 'M');
          }
      });


      function kuorong() {
          layer.open({
              type: 1,
              title: '空间扩容',
              shadeClose: true,
              //skin: 'layui-layer-rim', //加上边框
              area: ['450px', '240px'], //宽高
              content: `<div style="width: 360px;"><br /><br /><div class="layui-form-item">
  <label class="layui-form-label">扩容码：</label>
  <div class="layui-input-block">
  <input type="text" name="title" id="krm"  required lay-verify="required" placeholder="请输入你的扩容码" autocomplete="off" class="layui-input">  <span style="color: #DAA5A6; font-size: 12px;">扩容码为一次性，只能扩容一次，切勿泄露。</span><br/><br/><button type="button" onclick="kr()" style="float: right;" class="layui-btn layui-btn-radius layui-btn-normal" onclick="">激 活</button>  </div>
</div></div>`
          });
      }

      function kr() {
          var krm = $('#krm').val();
          fetch('/admin/kuorong',{
            method:'post',
            body:JSON.stringify({codestring:krm})
          }).then(json=>json.json()).then((data)=>{
            if (data.ret > 0) {
              layer.msg('扩容成功，当前总空间：' + data.sizes + 'M', {icon: 1});
            } else if (data.ret == -1) {
              layer.msg('很抱歉，该扩容码不存在', {icon: 2});
            } else {
              layer.msg('很网络超时，请刷新页面后重新尝试', {icon: 2});
            }
          })

      }

      //网站退出
      function exit() {
          $.ajax({
              type: "POST",
              url: "/user/exit.do",
              dataType: "json",
              success: function (data) {
                  // $.cookie('name_hellohaobycookie', null);
                  // $.cookie('pass_hellohaobycookie', null);
                  layer.msg('账号已退出', {icon: 1});
                  window.location.reload();
              }
          });
      }
    </script>
  </body>
</html>
