<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>修改分发群组</title>
    <link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}" />
  </head>
  <body>
    <br />
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">群组名称</label>
        <div class="layui-input-inline">
          <input
            id="groupname"
            th:value="${group.getGroupname()}"
            style="width: 250px"
            type="tel"
            name="groupname"
            lay-verify="required|phone"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <form class="layui-form">
        <label class="layui-form-label">所属存储源</label>
        <div class="layui-input-inline" style="width: 250px">
          <select id="keyid" name="quiz1" style="max-height: 360px">
            <option value="5">&nbsp;本地存储</option>
            <option value="1">&nbsp;网易NOS</option>
            <option value="2">&nbsp;阿里OSS</option>
            <option value="3">&nbsp;又拍USS</option>
            <option value="4">&nbsp;七牛云KODO</option>
            <option value="6">&nbsp;腾讯COS</option>
            <option value="7">&nbsp;FTP存储</option>
            <option value="8">&nbsp;U-File</option>
          </select>
        </div>
      </form>
      <br /><br />
      <button
        type="button"
        style="float: right; margin-right: 65px"
        class="layui-btn layui-btn-radius layui-btn-normal"
        onclick="setgroup()"
      >
        保 存
      </button>
    </div>
    <script
      th:src="@{/static/js/jquery-3.4.1.min.js}"
      type="text/javascript"
    ></script>
    <script th:src="@{/layui/layui/layui.js}"></script>
    <script>
      var keyid = [[${group.getKeyid()}]];
      var id = [[${group.getId()}]];
      layui.use(['form', 'table', 'layer'], function () {
          table = layui.table;
          var layer = layui.layer;
          var form = layui.form;
          $('#keyid').val(keyid);
          form.render('select');
          form.on('select', function (data) {
              keyid = data.value;
          });
      });

      function setgroup() {
          layer.msg('加载中', {
              icon: 16
              , shade: 0.01
          });
          var groupname = $('#groupname').val();
          let header=new Headers({
              "Content-type":"application/json"
          })
          fetch('/admin/root/updategroup', {
              method: "post",
             headers:header,
              body: JSON.stringify({groupname: groupname, keyid: keyid, id: id})
          }).then(json => json.json()).then((data) => {
              if (data.data > 0) {
                  layer.msg('保存成功', {icon: 1});
              } else {
                  layer.msg('保存失败', {icon: 2});
              }
          })

          layer.closeAll();
      }
    </script>
  </body>
</html>
