<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="keywords" th:content="${config.getWebkeywords()}" />
    <meta name="description" th:content="${config.getWebms()}" />
    <meta name="author" content="Hellohao" />
    <title th:text="${config.getWebname()}"></title>
    <link
      rel="shortcut icon"
      th:href="${config.getWebfavicons()}"
      type="image/x-icon"
    />
    <link rel="icon" type="image/ico" th:href="${config.getWebfavicons()}" />
    <style>
      .actived {
        color: black;
        text-align: center;
        font-size: 35px;
      }
      .fl{
          display: flex;
          justify-content: center;
      }
      .to-index {
        all: unset;
          color: black;
          border-radius: 5px;
          border: 1px solid #ccc;
          background: #0b98f6;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.3s;
      }
      .to-index:hover{
          color: #eee;
          background: #116fa8;
      }
    </style>
  </head>
  <body>
    <div>
      <h3 class="actived">已激活!</h3>
     <article class="fl"> <button class="to-index" onclick="toHome()">去首页</button></article>
      <script>
        function toHome() {
          location.assign("/index");
        }
      </script>
    </div>
  </body>
</html>
